.selectoption {
  padding: 8px;
  font-size: 15px;
  width: 290px;
  border-radius: 5px;
  height: 2.8rem;
  border: none;
 background-color: rgb(255, 255, 255);
}

/* 📱 Mobile responsive */
@media (max-width: 700px) {
  .selectoption {
    width: 318px;       /* full width on mobile */
    font-size: 14px;   /* slightly smaller */
    height: 2.8rem;    /* optional adjustment */
    border: none;
  }
}