.expense-trends-container {
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
}

.expense-trends-container h2 {
  color: #333;
  font-size: 1.3rem;
  margin-bottom: 15px;
  font-family: Ubuntu, sans-serif;
}

.no-data {
  color: #777;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .expense-trends-container h2 {
    font-size: 1.1rem;
  }
}
