.expense-trends-container {
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
}

.no-data {
  color: #777;
  font-size: 1rem;
}

@media (max-width: 480px) {
  .expense-trends-container {
    font-size: 1.1rem;
    display: flex;
  }


}
